appdirs==1.4.4
attrs==19.3.0
Automat==20.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
configobj==5.0.6
constantly==15.1.0
cryptography==3.0
cssselect==1.1.0
cx-Oracle==7.3.0
fake-useragent==0.1.11
gevent==20.6.2
greenlet==0.4.16
hyperlink==19.0.0
idna==2.10
incremental==17.5.0
itemadapter==0.1.0
lxml==4.5.2
mysql-connector-python==8.0.21
numpy==1.19.0
pandas==1.0.5
parse==1.18.0
parsel==1.6.0
Protego==0.1.16
protobuf==3.13.0
psycopg2==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
pyee==7.0.4
pyfastcopy==1.0.3
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
pypiwin32==223
pyppeteer==0.2.2
pyquery==1.4.1
python-dateutil==2.8.1
pytz==2020.1
pywin32==227
queuelib==1.5.0
requests==2.24.0
requests-html==0.10.0
Scrapy==2.2.1
service-identity==18.1.0
six==1.15.0
soupsieve==2.0.1
tqdm==4.51.0
Twisted==20.3.0
urllib3==1.25.11
w3lib==1.22.0
websockets==8.1
xlrd==1.2.0
XlsxWriter==1.2.9
zope.event==4.4
zope.interface==5.1.0
